:root {
    /* Paleta de Colores Gamer / Cyberpunk */
    --azul-electrico: #1E90FF;
    --verde-neon: #39FF14;
    --rojo-error: #ff4a4a;
    --bg-principal: #000000;
    --bg-tarjetas: #000000;
    --texto-blanco: #ffffff;
    --texto-mutado: #D3D3D3;
    
    /* Tipografías */
    --fuente-titulos: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Tu fuente de títulos */
    --fuente-cuerpo: 'Segoe UI', system-ui, sans-serif;

    /* Reutilizables (Evita reescribir transiciones y sombras) */
    --transicion-suave: all 0.3s ease;
    --glow-azul: 0 0 12px var(--azul-electrico);
    --glow-verde: 0 0 12px var(--verde-neon);
}

/* Reseteo básico global para consistencia entre páginas */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--bg-principal);
    color: var(--texto-blanco);
    font-family: var(--fuente-cuerpo);
}